.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 3s;
}
.ex-1-square:hover{
  background: red;
}


.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s, height 3s;
}
.ex-2-square:hover{
  width: 300px;
  height: 200px;
}


.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s;
}
.ex-3-square:hover{
  border-radius: 50%;
}


.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background 3s;
}
.ex-4-square:hover{
  background: none;
}


.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1s;
}
.ex-5-square:hover{
  transform: scale(1.5);
}
.ex-5-square:active{
  transform: scale(0.5);
}



.ex-6-img{
    width: 500px;
    transition: filter 1s;
}
.ex-6-img:hover{
  filter: grayscale(1);
}


.ex-7-img{
    width: 500px;
    transition: filter 5s;
  }
.ex-7-img:hover{
  filter: grayscale(1) blur(2px);
}


.ex-8-img{
    width: 500px;
    transition: 3s;
}
.ex-8-img:hover{
  filter: opacity(0.7) sepia(.5);
  border-radius: 30px;
}


.ex-9-img{
  margin: 50px 100px;
  width: 400px;
  transition: all 3s;
}
.ex-9-img:hover{
  filter: saturate(3) brightness(2);
  border-radius: 50%;
  transform: scale(1.5);
}



.ex-10-icon{
    font-size: 60px;
}
.ex-10-icon:hover{
  animation: es10 5s linear;
  animation-iteration-count: infinite;
}
@keyframes es10 {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(365deg)
  }
}


.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover{
  animation: es11 5s linear;
  animation-iteration-count: infinite;
}
@keyframes es11 {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(270deg)
  }
  100%{
    transform: rotate(0deg)
  }
}


.ex-12-button{
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white{
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white{
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover > .ex-12-top-white{
  animation: es12a 3s linear;
}
@keyframes es12a {
  0% {
    left: 10%;
  }
  100%{
    left: 60%;
  }
}
.ex-12-button:hover > .ex-12-bottom-white{
  animation: es12b 3s linear;
}
@keyframes es12b {
  0% {
    right: 20%;
  }
  100%{
    right: 60%;
  }
}


.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-13-button:hover > .ex-13-top-white{
  animation: es13a 5s linear;
}
@keyframes es13a {
  0% {
    left: 10%;
    top: -10px;
  }
  25%{
    left: 60%;
    top: -10px;
  }
  50% {
    left: 60%;
    top: 50px;
  }
  75% {
    left: 10%;
    top: 50px;
  }
  100%{
    left: 10%;
    top: -10px;
  }
}
.ex-13-button:hover > .ex-13-bottom-white{
  animation: es13b 5s linear;
}
@keyframes es13b {
  0% {
    bottom: -10px;
    right: 20%;
  }
  25%{
    bottom: -10px;
    right: 60%;
  }
  50% {
    bottom: 50px;
    right: 60%;
  }
  75% {
    bottom: 50px;
    right: 20%;
  }
  100%{
    bottom: -10px;
    right: 20%;
  }
}
